

<div class="question-container large-9 columns large-centered">

  <div class="sidebar large-3 columns">
    <countdown start="10"></countdown>

    <span class="score correct">{{ score.right }} ✔</span>
    <span class="score mistake">{{ score.wrong }} ✕</span>
  </div>

  <div class="question large-9 columns">
    <strong>Recognize the kana (type in japanese or romaji and press enter)</strong>
    <p>
      {{ question.kana }}
      <span class="correction" ng-if="mistake">{{ mistake.answer }}</span></p>

    <form ng-submit="checkAnswer()">
      <input type="text" ng-model="answer" placeholder="Answer" ng-class="{correct: correctAnswer, mistake: mistake}" />
    </form>

  </div>
</div>
