

<div class="question-container large-9 columns large-centered">

  <div class="sidebar large-3 columns">
    <span>TIMER TODO</span>
    <br>

    <span class="score correct">{{ score.right }} ✔</span>
    <span class="score mistake">{{ score.wrong }} ✕</span>
  </div>

  <div class="question large-9 columns">
    <strong>Recognize the kana (type in japanese or romaji and press enter)</strong>
    <p>{{ question.kana }}</p>

    <form ng-submit="checkAnswer()">
      <input type="text" ng-model="answer" placeholder="Answer" ng-class="{correct: correctAnswer, mistake: mistake}" />

      <span class="correction" ng-if="mistake">
        You entered "{{ mistake.entered }}" for {{ mistake.question }}.
        The answer was "{{ mistake.answer }}".
      </span>
    </form>

  </div>
</div>
