.question {
  text-align: center;

  h2 {
    font-size: 3em;
  }

  form {
    input {
      text-align: center;
    }
  }

  .alert-box {
    background-color: darkred;
    border-color: darkred;
  }
}