$correct-colour: #89C343;
$mistake-colour: #E44E5A;

.question-container {
  margin-top: 100px;

  .question {
    border-left: 5px solid #ccc;

    strong {
      color: darken(#ccc, 10);
    }

    p {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 3em;
    }
  }

  input {
    padding: 1em;
    font-size: 1.5em;

    &.correct, &.mistake {
      color: white;

      ::-webkit-input-placeholder { /* WebKit browsers */
        color: white;
      }
      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: white;
      }
      ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: white;
      }
      :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: white;
      }
    }

    &.correct {
      background-color: $correct-colour;
    }

    &.mistake {
      background-color: $mistake-colour;
    }
  }

  .score {
    font-size: 2em;
    display: block;
    text-align: center;

    &.correct {
      color: $correct-colour;
      margin-top: 20px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
    }

    &.mistake {
      color: $mistake-colour;
      padding-top: 10px;
    }
  }

  .correction {
    background-color: $mistake-colour;
    display: inline-block;
    padding: 10px;
    color: white;
  }
}

.countdown {
  text-align: center;
  font-size: 2em;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}
