<!DOCTYPE html>
<html ng-app="nihongo">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- compiled CSS -->
    <% styles.forEach( function ( file ) { %>
      <link rel="stylesheet" type="text/css" href="<%= file %>" />
    <% }); %>

    <!-- compiled JavaScript -->
    <% scripts.forEach( function ( file ) { %>
      <script type="text/javascript" src="<%= file %>" charset="utf-8"></script>
    <% }); %>

  </head>

  <body>
    <h1>Hello</h1>
    <div class="container" ui-view="main"></div>
  </body>

</html>