<!DOCTYPE html>
<html ng-app="nihongo" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- compiled CSS -->
    <% styles.forEach( function ( file ) { %>
      <link rel="stylesheet" type="text/css" href="<%= file %>" />
    <% }); %>

    <!-- compiled JavaScript -->
    <% scripts.forEach( function ( file ) { %>
      <script type="text/javascript" src="<%= file %>" charset="utf-8"></script>
    <% }); %>

  </head>

  <body>

  <div class="contain-to-grid">

    <nav class="top-bar">
      <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
          <li ng-class="(currentTab=='hiragana') ? 'active' : ''">
            <a ui-sref="hiragana">Hiragana</a>
          </li>
          <li ng-class="(currentTab=='katakana') ? 'active' : ''">
            <a ui-sref="katakana">Katakana</a>
          </li>
        </ul>
      </section>
    </nav>

  </div>

  <div class="row" ui-view></div>

  </body>

</html>