<!DOCTYPE html>
<html ng-app="nihongo" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- compiled CSS -->
    <% styles.forEach( function ( file ) { %>
      <link rel="stylesheet" type="text/css" href="<%= file %>" />
    <% }); %>

    <!-- compiled JavaScript -->
    <% scripts.forEach( function ( file ) { %>
      <script type="text/javascript" src="<%= file %>" charset="utf-8"></script>
    <% }); %>

  </head>

  <body>
    <div class="container row">

      <div class="large-3 columns">
        <ul class="side-nav">
          <li><a href="#">Home</a></li>
          <li class="divider"></li>
          <li><a ui-sref="hiragana">Hiragana</a></li>
          <li><a href="#">Katakana</a></li>
        </ul>
      </div>

      <div class="large-9 columns" ui-view></div>
    </div>

  </body>

</html>